<div class="row">
  <div class"col-md-12">
   <h1>End Point de productos</h1>
   <h2>{{title}}</h2>
 </div>
</div>

<div class="row">
 <div class="col-md-12">
   <form action="/products" method="POST">
     <label for="name">Name</label>
     <input id="name" name="name" type="text">
     <br>
     <label for="photo">Photo</label>
     <input id="photo" name="photo" type="text">
     <br>
     <label for="stock">Stock</label>
     <input id="stock" name="stock" type="text">
     <br>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
 </div>
</div>

<div class="row">
  {{#each products}}
  <div class="col-md-4">
   <h2>{{this.name}}</h2>
   <img src="{{this.photo}}" class="img-responsive" alt="{{this.name}}">
   <p>Stock: {{this.stock}}</p>
 </div>
 {{/each}}

</div>
