<div class="row">
  <div class"col-md-12">
   <h1>{{title}}</h1>
 </div>
</div>

<br><br>

<button type="submit" class="custombtn" onclick="location.href='./new'">Agregar producto</button>

<br><br>
<div class="row">
  {{#each products}}
  <div class="col-md-4">
   <h2>{{this.name}}</h2>
   <br><br>
   <img src="{{this.photo}}" class="img-responsive" alt="{{this.name}}">
   <p>Stock: {{this.stock}}</p>
   <br><br><br>
 </div>
 {{/each}}

</div>
